#tab_group
{
  border-bottom: 2px solid #444455;
}

#tab_group .active
{
  background-color: #555566;
}

li.tab
{
  display: inline;
  border: 1px solid #444455;
}

li.tab a
{
  text-decoration: none;
  color: #EEEEDD;
  background-color: #888899;
}

#tab_group .active
{
  color: #FFFFEE;
}

/* overrides */

body
{
  font-size: 9pt;
}

#playlist
{
  width: 100%;
  overflow: visible;
}

td
{
  font-size: 9pt;
}

